*{
	border: 0px;
	padding: 0px;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;

}
.marca{
	margin: auto;
	width: 100%;
	height: 100px;
	display: block;
}
.marca-text{
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 3%;
	font-size: 60px;
	
}
.vec{
	margin-top: -1%;
	width: 60px;
	height: 50px;
}
.content{

	display: block;
	/*Configuracion de el div */
	width: 60%;
	height: auto;
	margin: auto;
	border-radius: 10px;
	border: 2px solid 	#DADCE0;
	align-items: center;
	margin-top: 1%;
}


.content input,textarea{
	display: block;
	margin: auto;
	width:  65%;
	height: 40px;	
	margin-bottom: 15px;
	border-radius: 10px;
	border: 1px solid #DADCE0;
	font-size: 20px;
	opacity: 0.7;

}
input,textarea{
	display: block;
	margin: auto;
	width:  65%;
	height: 40px;	
	margin-bottom: 15px;
	border-radius: 10px;
	border: 1px solid #DADCE0;
	font-size: 20px;
	opacity: 0.7;

}
textarea{
	height: 100px;
}
.content input:focus{

	border: 2px solid #1A73E8;
	opacity: 1;
}
input:focus{

	border: 2px solid #1A73E8;
	opacity: 1;
}
.text-center{
	text-align: center;
	font-size: 35px;	
	color:#5F6368;
	display: block;
}

.text-center-label{
	text-align: center;
	font-size: 33px;
	margin-top: 1%;
	color:#5F6368;
	margin-bottom: -1%;
}

.content label{
	margin-left: 18%;
	display: block;	
	font-size: 21px;
	color:#5F6368;
	margin-bottom: 3px;
	opacity: 0.7;
}
label{
	margin-left: 18%;
	display: block;	
	font-size: 21px;
	color:#5F6368;
	margin-bottom: 3px;
	opacity: 0.7;
}

.content .btn-enviar{
	width: 30%;	
	height: 50px;
	background-color: #1A73E8;
	color: #FFF;
	font-size: 20px;
	border-style: none;
	border-radius: 6px;
	cursor: pointer;	
	margin-left: 18%;
	float: left;
	opacity: 1;
}
.content .link{
	width: 70%;
	height: 40px;	
	color: #1A73E8;
	font-size: 20px;
	border-style: none;
	border-radius: 6px;
	cursor: pointer;	
	margin-left: 11%;
	display: flex;
	margin-bottom: 30px;
	text-decoration: none;	

}
.content .btn-enviar:hover{
	box-shadow: 1px 1px 10px #91B7F9;
}
.content .btn-enviar1{
	width: 30%;	
	height: 50px;
	background-color: #1A73E8;
	color: #FFF;
	font-size: 20px;
	border-style: none;
	border-radius: 6px;
	cursor: pointer;	
	margin-left: 18%;	
	display: block;
	opacity: 1;
}
.content .btn-enviar1:hover{
	box-shadow: 1px 1px 10px #91B7F9;}
span{		
	text-align: center;
	vertical-align: text-top;
	display: flex;
	font-size: 20px;		
	}

.content  select{
	display: block;
	margin: auto;
	width:  65%;
	height: 40px;	
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #DADCE0;
	font-size: 20px;
	opacity: 0.6;

}



.content  select:focus{
	opacity: 1;
	border: 2px solid #1A73E8;
}

.content .op{
	font-size: 20px;
	opacity: 0.3;	
}

.comentario{
	border: 1px solid #DADCE0;
	border-radius: 10px;
	width: 65%;
	margin: auto;
}

.tit label{
	font-size: 25px;
	color: #F8951F;
	opacity: 1;	
}
.des label{
	font-size: 23px;
	color: #FB561A;
	opacity: 0.5;	
}

.des p{
	font-size: 25px;
	color: #000;
	opacity: 0.9;	
}

@media screen and (max-width: 800px){
.content{
	width: 100%;
}
}

